<!DOCTYPE html>
<!-- Esto nos permite poder manipular la información que proviene del BackEnd -->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agregar Concierto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>    
    </head>

    <body>
        <div class="col-auto bg-white p-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                        <h1 class="text-center">Agregar concierto</h1>
                        <div class="card-body">

                            <form th:action="@{/guardar}" th:object="${concierto}" method="POST">
                                <div class="form-group">
                                    <label>Artista: </label>
                                    <input type="text" name="artista" 
                                           th:file="*{artista}" class="form-control" 
                                           placeholder="Digite el nombre del artista"
                                           required>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label>Fecha: </label>
                                    <input type="text" name="fecha" 
                                           th:file="*{fecha}" class="form-control" 
                                           placeholder="DD/MM/AAAA"
                                           required>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label>Lugar: </label>
                                    <input type="text" name="lugar" 
                                           th:file="*{lugar}" class="form-control" 
                                           placeholder="Digite el lugar donde sera el concierto"
                                           required>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label>Costo: </label>
                                    <input type="double" name="costo" 
                                           th:file="*{costo}" class="form-control" 
                                           placeholder="Digite costo del boleto"
                                           required>
                                </div>
                                <br>
                                <div class="form-group">
                                    <label>Capacidad: </label>
                                    <input type="int" name="capacidad" 
                                           th:file="*{capacidad}" class="form-control" 
                                           placeholder="Digite la capacidad del lugar"
                                           required>
                                </div>
                                <br>
                                <div class="box-footer col-auto bg-white p-3 text-center">
                                    <button class="btn btn-success">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>